*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: var(--main-aqua);
  color: white;
  /* WebKit/Blink Browsers */
}

::selection {
  background: var(--main-aqua);
  color: white;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--main-aqua);
  color: white;
  /* Gecko Browsers */
}

:root {
  --nunito: "Nunito", sans-serif;
  --quicksand: "Quicksand", sans-serif;
  --dark-green: #9fb4b2;
  --grey: #e2e2e2;
  --black: #070707;
  --white: #ffffff;
  --main-aqua: #66fcf1;
  --home-margin-bottom: 5rem;
  --titles-margin-top: 3rem;
}

body {
  background-color: #080808;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 1400px) {
  html {
    font-size: 56%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 30%;
  }
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a:active,
:focus {
  text-decoration: none;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 200;
  background-color: var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--main-aqua);
  font-family: var(--quicksand);
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 2rem;
}

.hidden {
  display: none;
}

section {
  padding: 0 11.5%;
  position: relative;
}

@media (max-width: 600px) {
  section {
    padding: 0 9%;
  }
}

@media (max-width: 450px) {
  section {
    padding: 0 7%;
  }
}

.nav {
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: var(--quicksand);
}

@media (max-width: 600px) {
  .nav {
    left: 9.4%;
  }
}

@media (max-width: 450px) {
  .nav {
    left: 7.2%;
  }
}

.nav li {
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  color: var(--white);
  letter-spacing: 0.2rem;
  font-weight: 200;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.nav li a {
  color: var(--white);
}

.nav li a:hover {
  color: var(--main-aqua);
}

.nav li:not(:first-child) {
  padding-left: 3rem;
}

@media (max-width: 450px) {
  .nav li:not(:first-child) {
    padding-left: 1rem;
  }
}

.nav li:hover {
  color: var(--main-aqua);
  cursor: pointer;
}

.nav li:hover span:nth-child(2) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.nav span {
  font-weight: 500;
  color: var(--main-aqua);
  font-size: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.home {
  width: 100%;
  min-height: 100vh;
  background-image: url("./assets/images/mainimg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1200px) {
  .home {
    background-image: url("./assets/images/mainimg3.png");
  }
}

@media (max-width: 1000px) {
  .home {
    background-image: url("./assets/images/mainimg2.png");
  }
}

@media (max-width: 600px) {
  .home {
    min-height: 100vh;
    height: auto;
  }
}

.home__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__main__main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: var(--home-margin-bottom);
  margin-left: -0.5rem;
}

.home__main__main-text h1 {
  color: var(--dark-green);
  font-family: var(--quicksand);
  font-size: 7.2rem;
  font-weight: 300;
  letter-spacing: 0.6rem;
}

.home__main__main-text h1 span {
  color: var(--grey);
  font-weight: 300;
}

.home__main__cta-container {
  padding-top: 8rem;
}

.home__main__cta-container a {
  color: white;
}

.home__main__cta-container__cta {
  position: relative;
  height: 7.7rem;
  width: 38rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--nunito);
  font-weight: 300;
  font-size: 1.8rem;
  background-color: var(--black);
  color: var(--white);
  border: 1px var(--main-aqua) solid;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (max-width: 600px) {
  .home__main__cta-container__cta {
    width: 30rem;
  }
}

.home__main__cta-container__cta__svg-container {
  width: 4rem;
  height: 2rem;
  margin-left: 12rem;
}

@media (max-width: 600px) {
  .home__main__cta-container__cta__svg-container {
    margin-left: 4rem;
  }
}

.home__main__cta-container__cta__svg-container svg path {
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.home__main__cta-container__cta p {
  margin-left: 5.5rem;
  letter-spacing: 0.35rem;
}

.home__main__cta-container__cta .glitch {
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.home__main__cta-container__cta .glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.home__main__cta-container__cta .glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(75px, 9999px, 37px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  5% {
    clip: rect(21px, 9999px, 62px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  10% {
    clip: rect(71px, 9999px, 93px, 0);
    -webkit-transform: skew(0.44deg);
            transform: skew(0.44deg);
  }
  15% {
    clip: rect(30px, 9999px, 29px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
  20% {
    clip: rect(72px, 9999px, 51px, 0);
    -webkit-transform: skew(0.59deg);
            transform: skew(0.59deg);
  }
  25% {
    clip: rect(80px, 9999px, 13px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  30% {
    clip: rect(85px, 9999px, 2px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  35% {
    clip: rect(77px, 9999px, 27px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  40% {
    clip: rect(29px, 9999px, 44px, 0);
    -webkit-transform: skew(0.02deg);
            transform: skew(0.02deg);
  }
  45% {
    clip: rect(3px, 9999px, 3px, 0);
    -webkit-transform: skew(0.6deg);
            transform: skew(0.6deg);
  }
  50% {
    clip: rect(76px, 9999px, 61px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  55% {
    clip: rect(93px, 9999px, 72px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  60% {
    clip: rect(57px, 9999px, 88px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  65% {
    clip: rect(95px, 9999px, 43px, 0);
    -webkit-transform: skew(0.17deg);
            transform: skew(0.17deg);
  }
  70% {
    clip: rect(8px, 9999px, 50px, 0);
    -webkit-transform: skew(0.31deg);
            transform: skew(0.31deg);
  }
  75% {
    clip: rect(85px, 9999px, 58px, 0);
    -webkit-transform: skew(0.95deg);
            transform: skew(0.95deg);
  }
  80% {
    clip: rect(19px, 9999px, 88px, 0);
    -webkit-transform: skew(0.37deg);
            transform: skew(0.37deg);
  }
  85% {
    clip: rect(78px, 9999px, 89px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  90% {
    clip: rect(34px, 9999px, 63px, 0);
    -webkit-transform: skew(0.88deg);
            transform: skew(0.88deg);
  }
  95% {
    clip: rect(72px, 9999px, 66px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  100% {
    clip: rect(76px, 9999px, 12px, 0);
    -webkit-transform: skew(0.65deg);
            transform: skew(0.65deg);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(75px, 9999px, 37px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  5% {
    clip: rect(21px, 9999px, 62px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  10% {
    clip: rect(71px, 9999px, 93px, 0);
    -webkit-transform: skew(0.44deg);
            transform: skew(0.44deg);
  }
  15% {
    clip: rect(30px, 9999px, 29px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
  20% {
    clip: rect(72px, 9999px, 51px, 0);
    -webkit-transform: skew(0.59deg);
            transform: skew(0.59deg);
  }
  25% {
    clip: rect(80px, 9999px, 13px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  30% {
    clip: rect(85px, 9999px, 2px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  35% {
    clip: rect(77px, 9999px, 27px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  40% {
    clip: rect(29px, 9999px, 44px, 0);
    -webkit-transform: skew(0.02deg);
            transform: skew(0.02deg);
  }
  45% {
    clip: rect(3px, 9999px, 3px, 0);
    -webkit-transform: skew(0.6deg);
            transform: skew(0.6deg);
  }
  50% {
    clip: rect(76px, 9999px, 61px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  55% {
    clip: rect(93px, 9999px, 72px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  60% {
    clip: rect(57px, 9999px, 88px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  65% {
    clip: rect(95px, 9999px, 43px, 0);
    -webkit-transform: skew(0.17deg);
            transform: skew(0.17deg);
  }
  70% {
    clip: rect(8px, 9999px, 50px, 0);
    -webkit-transform: skew(0.31deg);
            transform: skew(0.31deg);
  }
  75% {
    clip: rect(85px, 9999px, 58px, 0);
    -webkit-transform: skew(0.95deg);
            transform: skew(0.95deg);
  }
  80% {
    clip: rect(19px, 9999px, 88px, 0);
    -webkit-transform: skew(0.37deg);
            transform: skew(0.37deg);
  }
  85% {
    clip: rect(78px, 9999px, 89px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  90% {
    clip: rect(34px, 9999px, 63px, 0);
    -webkit-transform: skew(0.88deg);
            transform: skew(0.88deg);
  }
  95% {
    clip: rect(72px, 9999px, 66px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  100% {
    clip: rect(76px, 9999px, 12px, 0);
    -webkit-transform: skew(0.65deg);
            transform: skew(0.65deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(13px, 9999px, 52px, 0);
    -webkit-transform: skew(0.18deg);
            transform: skew(0.18deg);
  }
  5% {
    clip: rect(74px, 9999px, 76px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  10% {
    clip: rect(17px, 9999px, 99px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  15% {
    clip: rect(51px, 9999px, 94px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  20% {
    clip: rect(31px, 9999px, 56px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  25% {
    clip: rect(96px, 9999px, 72px, 0);
    -webkit-transform: skew(0.02deg);
            transform: skew(0.02deg);
  }
  30% {
    clip: rect(85px, 9999px, 52px, 0);
    -webkit-transform: skew(0.29deg);
            transform: skew(0.29deg);
  }
  35% {
    clip: rect(13px, 9999px, 52px, 0);
    -webkit-transform: skew(0.47deg);
            transform: skew(0.47deg);
  }
  40% {
    clip: rect(13px, 9999px, 58px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  45% {
    clip: rect(30px, 9999px, 99px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  50% {
    clip: rect(2px, 9999px, 41px, 0);
    -webkit-transform: skew(0.64deg);
            transform: skew(0.64deg);
  }
  55% {
    clip: rect(38px, 9999px, 8px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  60% {
    clip: rect(58px, 9999px, 38px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  65% {
    clip: rect(92px, 9999px, 26px, 0);
    -webkit-transform: skew(0.65deg);
            transform: skew(0.65deg);
  }
  70% {
    clip: rect(6px, 9999px, 40px, 0);
    -webkit-transform: skew(0.44deg);
            transform: skew(0.44deg);
  }
  75% {
    clip: rect(51px, 9999px, 82px, 0);
    -webkit-transform: skew(0.31deg);
            transform: skew(0.31deg);
  }
  80% {
    clip: rect(72px, 9999px, 71px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  85% {
    clip: rect(33px, 9999px, 61px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  90% {
    clip: rect(78px, 9999px, 68px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  95% {
    clip: rect(87px, 9999px, 13px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  100% {
    clip: rect(70px, 9999px, 43px, 0);
    -webkit-transform: skew(0.23deg);
            transform: skew(0.23deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(13px, 9999px, 52px, 0);
    -webkit-transform: skew(0.18deg);
            transform: skew(0.18deg);
  }
  5% {
    clip: rect(74px, 9999px, 76px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  10% {
    clip: rect(17px, 9999px, 99px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  15% {
    clip: rect(51px, 9999px, 94px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  20% {
    clip: rect(31px, 9999px, 56px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  25% {
    clip: rect(96px, 9999px, 72px, 0);
    -webkit-transform: skew(0.02deg);
            transform: skew(0.02deg);
  }
  30% {
    clip: rect(85px, 9999px, 52px, 0);
    -webkit-transform: skew(0.29deg);
            transform: skew(0.29deg);
  }
  35% {
    clip: rect(13px, 9999px, 52px, 0);
    -webkit-transform: skew(0.47deg);
            transform: skew(0.47deg);
  }
  40% {
    clip: rect(13px, 9999px, 58px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  45% {
    clip: rect(30px, 9999px, 99px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  50% {
    clip: rect(2px, 9999px, 41px, 0);
    -webkit-transform: skew(0.64deg);
            transform: skew(0.64deg);
  }
  55% {
    clip: rect(38px, 9999px, 8px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  60% {
    clip: rect(58px, 9999px, 38px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  65% {
    clip: rect(92px, 9999px, 26px, 0);
    -webkit-transform: skew(0.65deg);
            transform: skew(0.65deg);
  }
  70% {
    clip: rect(6px, 9999px, 40px, 0);
    -webkit-transform: skew(0.44deg);
            transform: skew(0.44deg);
  }
  75% {
    clip: rect(51px, 9999px, 82px, 0);
    -webkit-transform: skew(0.31deg);
            transform: skew(0.31deg);
  }
  80% {
    clip: rect(72px, 9999px, 71px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  85% {
    clip: rect(33px, 9999px, 61px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  90% {
    clip: rect(78px, 9999px, 68px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  95% {
    clip: rect(87px, 9999px, 13px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  100% {
    clip: rect(70px, 9999px, 43px, 0);
    -webkit-transform: skew(0.23deg);
            transform: skew(0.23deg);
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  10% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  20% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  30% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  40% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  50% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  60% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  70% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  80% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  90% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  100% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
}

@keyframes glitch-skew {
  0% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  10% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  20% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  30% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  40% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  50% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  60% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  70% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  80% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  90% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  100% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
}

.home__main__cta-container__cta__line--top {
  position: absolute;
  width: 180vw;
  height: 1px;
  top: -20rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.home__main__cta-container__cta__line--right {
  position: absolute;
  width: 1px;
  height: 150vh;
  right: -20rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.home__main__cta-container__cta__line--bottom {
  position: absolute;
  width: 180vw;
  height: 1px;
  bottom: -20rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.home__main__cta-container__cta__line--left {
  position: absolute;
  width: 1px;
  height: 150vh;
  left: -20rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.home__main__cta-container__cta:hover {
  -webkit-box-shadow: 0.1rem 0.1rem 0.2rem 0 var(--main-aqua);
          box-shadow: 0.1rem 0.1rem 0.2rem 0 var(--main-aqua);
}

.home__main__cta-container__cta:hover .home__main__cta-container__cta__line--top {
  top: 0;
}

.home__main__cta-container__cta:hover .home__main__cta-container__cta__line--right {
  right: 0;
  background-color: var(--main-aqua);
}

.home__main__cta-container__cta:hover .home__main__cta-container__cta__line--bottom {
  bottom: 0;
  background-color: var(--main-aqua);
}

.home__main__cta-container__cta:hover .home__main__cta-container__cta__line--left {
  left: 0;
  background-color: var(--main-aqua);
}

.home__main__cta-container__cta:hover .home__main__cta-container__cta__svg-container svg path {
  stroke: var(--main-aqua);
}

.home__main__cta-container__cta:hover .home__main__cta-container__cta {
  -webkit-box-shadow: 1rem 1rem 1rem var(--main-aqua);
          box-shadow: 1rem 1rem 1rem var(--main-aqua);
}

.home__main__cta-container__cta:hover .line {
  background-color: rgba(102, 252, 241, 0.06);
}

.home__main__cta-container__left-block {
  position: absolute;
  left: 0;
  top: -0.1rem;
  width: 2rem;
  height: 7.7rem;
  background-color: var(--main-aqua);
}

.home__main__sub-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: var(--nunito);
  font-size: 1.6rem;
  font-weight: 200;
  color: var(--grey);
  letter-spacing: 0.2rem;
  margin-left: 0.2rem;
  margin-top: 9rem;
}

.home__main__sub-text p {
  margin-bottom: 1rem;
}

.next-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.next-section:hover .icon--medium {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.icon--small {
  width: 14px;
  height: 16px;
  position: absolute;
}

.icon--medium {
  z-index: 3;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.icon--medium svg {
  width: 40px;
  height: 40px;
}

@media (max-width: 600px) {
  .icon--medium svg {
    width: 30px;
    height: 30px;
  }
}

.line {
  background-color: rgba(102, 252, 241, 0.045);
}

.next-section-button {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.next-section-button:hover .icon--medium {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.skills {
  background-color: #080808;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .skills {
    min-height: 100vh;
    height: auto;
  }
}

.skills__container {
  width: 100%;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

.skills .darken {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 8, 8, 0);
  top: 0;
  left: 0;
  z-index: 100;
}

.skills #fusion {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 8%;
  z-index: 2;
  width: 100%;
}

@media (max-width: 450px) {
  .skills #fusion {
    display: none;
  }
}

.skills__content {
  z-index: 150;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__content__skills-list {
  font-size: 1.6rem;
  font-family: var(--nunito);
  font-weight: 500;
  color: var(--white);
  letter-spacing: 0.5rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 8rem 0;
  margin-top: 8rem;
}

@media (max-width: 1400px) {
  .skills__content__skills-list {
    margin-top: 6rem;
  }
}

.skills__content__skills-list--each-pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__content__skills-list--each-pair p {
  margin-left: 2rem;
}

.skills__content__skills-list--each-pair p:nth-child(even) {
  margin-right: 2rem;
}

.skills__content__skills-list--each-pair div {
  width: 4rem;
  height: 4rem;
}

.skills__content__skills-list--each-pair:nth-child(even) {
  -ms-grid-column-align: right;
      justify-self: right;
}

.skills__content__skills-list--each-pair:nth-child(even) div {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

h2 {
  font-family: var(--quicksand);
  font-weight: 300;
  color: var(--main-aqua);
  letter-spacing: 8rem;
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 9rem;
  margin-right: -8rem;
  margin-top: 3rem;
}

@media (max-width: 1000px) {
  h2 {
    letter-spacing: 6rem;
    margin-right: -6rem;
  }
}

@media (max-width: 710px) {
  h2 {
    letter-spacing: 4rem;
    margin-right: -4rem;
  }
}

@media (max-width: 450px) {
  h2 {
    letter-spacing: 3rem;
    margin-right: -3rem;
    font-size: 4rem;
  }
}

.projects {
  background-color: #080808;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  position: relative;
}

@media (max-width: 1400px) {
  .projects {
    padding: 0 5%;
    height: auto;
  }
}

@media (max-width: 600px) {
  .projects {
    min-height: 100vh;
    height: auto;
  }
}

.projects__container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.projects__cards {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, max-content))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, -webkit-max-content));
      grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  grid-gap: 2rem 10rem;
  overflow: hidden;
  padding: 2px;
  margin-bottom: 10rem;
}

@media (max-width: 1700px) {
  .projects__cards {
    grid-gap: 2rem 6rem;
  }
}

@media (max-width: 1400px) {
  .projects__cards {
    grid-gap: 2rem 2rem;
  }
}

@media (max-width: 1200px) {
  .projects__cards {
    justify-items: center;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 710px) {
  .projects__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
}

.projects__cards__card {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  background-color: #070808;
  border: 1px rgba(102, 252, 241, 0.1) solid;
  padding: 1px;
  max-width: 40rem;
  min-width: 30rem;
}

@media (max-width: 450px) {
  .projects__cards__card {
    min-width: 270px;
  }
}

.projects__cards__card img {
  width: 100%;
  min-height: 22rem;
  max-height: 22rem;
  margin-bottom: 2px;
}

@media (max-width: 450px) {
  .projects__cards__card img {
    min-height: 150px;
  }
}

.projects__cards__card:hover .projects__cards__card__img-dark {
  opacity: 0;
}

.projects__cards__card__img-dark {
  position: absolute;
  width: 100%;
  height: 22rem;
  background-color: #080808;
  opacity: 0.5;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 450px) {
  .projects__cards__card__img-dark {
    min-height: 150px;
  }
}

.projects__cards__card h3 {
  margin-bottom: 2rem;
  font-family: var(--quicksand);
  font-size: 1.8rem;
  font-weight: 200;
  letter-spacing: 1.5px;
  width: 80%;
  text-align: center;
  padding: 1.5rem 0;
  color: var(--main-aqua);
  border-bottom: 1px rgba(102, 252, 241, 0.1) solid;
}

@media (max-width: 450px) {
  .projects__cards__card h3 {
    font-size: 2rem;
  }
}

.projects__cards__card p {
  font-family: var(--nunito);
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

@media (max-width: 450px) {
  .projects__cards__card p {
    font-size: 1.4rem;
  }
}

.projects__cards__card span {
  color: var(--dark-green);
  font-family: var(--nunito);
  font-weight: 600;
  font-size: 1rem;
  font-style: italic;
}

@media (max-width: 450px) {
  .projects__cards__card span {
    font-size: 1.5rem;
  }
}

.projects__cards__card__links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--nunito);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}

.projects__cards__card__links-container div {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.projects__cards__card__links-container span {
  cursor: pointer;
  padding: 0 0.2rem;
  color: white;
  font-style: normal;
  font-weight: 700;
}

.contact {
  background-color: #080808;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: var(--quicksand);
}

@media (max-width: 600px) {
  .contact {
    min-height: 100vh;
    height: auto;
  }
}

@media (max-width: 1000px) {
  .contact {
    height: auto;
    min-height: 0;
  }
}

.contact h2 {
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.contact p {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  color: grey;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 450px) {
  .contact p {
    letter-spacing: 0;
    font-size: 2.2rem;
    margin-bottom: 6rem;
  }
}

.contact span {
  font-size: 2.2rem;
  color: white;
  margin-bottom: 2rem;
  font-weight: 300;
}

@media (max-width: 450px) {
  .contact span {
    margin-bottom: 4rem;
  }
}

.contact__svg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .contact__svg-container {
    margin-bottom: 6rem;
  }
}

.contact__svg-container div {
  width: 32px;
  height: 32px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.contact__svg-container div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact__svg-container a:not(:last-child), .contact__svg-container div:not(:last-child) {
  margin-right: 2rem;
}

.contact .matterjs-container {
  width: 802px;
  height: 552px;
  border: 1px var(--main-aqua) solid;
}

@media (max-width: 1000px) {
  .contact .matterjs-container {
    display: none;
  }
}

.contact #matterjs {
  width: 800px;
  height: 550px;
  background: #080808 !important;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 160px;
}

.lds-ripple div {
  position: absolute;
  border: 6px solid var(--main-aqua);
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 72px;
    left: 72px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 144px;
    height: 144px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 72px;
    left: 72px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 144px;
    height: 144px;
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */